@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------
　基本設定
--------------------------------------------------------*/
html {
  font-size: 62.5%;
  visibility: hidden;
}
html.wf-active *{
  visibility: visible;
}

body {
	width: 100%;
	font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	color:#333;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	font-feature-settings: "palt";
	/*text-align: justify;*/
	line-height:1.6;
	text-size-adjust: 100%;
}

*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

img{
	width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

a{
	text-decoration: none;
	outline: none;
}

a:hover{
	text-decoration: none;
}

header,main,footer {
	width: 100%;
}

main{
	contain: paint;
}

body.modal-open {
	overflow: hidden;
}

.f_min {
	font-family: "Noto Serif JP", YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
}




/*--------------------------------------------------------
　PC
--------------------------------------------------------*/

@media print, screen and (min-width: 961px){
	.sp{
		display: none!important;
	}
	
	a.tel[href^="tel:"] {
       pointer-events: none;
       text-decoration: none;
    }
	
	a.opacity {
		transition-duration: 0.5s;
		transition-property: opacity, color;
	}
	
	a.opacity:hover {
		opacity: 0.7;
	}
	
	a.line {
		display: inline-block;
		position: relative;
	}
	
	a.line::after {
		content: "";
		width: 0;
		height: 1px;
		background: #808080;
		display: inline-block;
		position: absolute;
		bottom: -0.5em;
		left: 0;
		transition: width .5s ease;
	}
	
	a.line:hover::after {
		width: calc(100% + 1em);
	}
	
	a span.hover_slide:after {
		transition: margin-left .35s ease;
	}
	
	a:hover span.hover_slide:after {
		margin-left: 1em!important;
	}
	
	a.out_arrow::after {
		transition: right .35s ease;
	}
	
	a.out_arrow:hover::after {
		right: -8%!important;
	}
	
	.anime_box .anime:hover + .text {
        opacity: 1!important;
    }
	
	header {
		height: 6.76vw;
		height: 6.76cqw;
		max-height: 88px;
		padding-top: 26px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	
	header div#h_block {
		width: 93.8%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	
	header div#h_block h1 {
		width: 20.8%;
		max-width: 254px;
		line-height: 0;
	}

	div#fixed_contact {
		width: 17.6%;
		height: 3.569vw;
		height: 3.569cqw;
		max-height: 46px;
		background: url("../images/common/btn_contact_bg.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		position: absolute;
		top: 0;
		right: 29.6%;
		box-shadow: 0 0 0.62vw 0 rgba(0, 0, 0, 0.5);
	}
	
	div#fixed_contact a,
	div#fixed_mail a{
		display: block;
		height: 100%;
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.9vw, 1.2rem);
		font-weight: 700;
		letter-spacing: 0.1em;
		line-height: 1;
		color: #FFF;
		padding: 1.5em 0 0 4.5em;
		position: relative;
	}
	
	div#fixed_contact a::before{
		content: "";
		width: 2vw;
		width: 2cqw;
		max-width: 26px;
		height: 2.3vw;
		height: 2.3cqw;
		max-height: 30px;
		display: block;
		background: url("../images/common/icon_form.svg") no-repeat;
		background-size: contain;
		position: absolute;
		top: 14%;
		left: 6.5%;
		z-index: 3;
	}
	
	div#fixed_contact a::after,
	div#fixed_mail a::after{
		content: "";
		width: 0.61vw;
		width: 0.61cqw;
		max-width: 8px;
		height: 0.53vw;
		height: 0.53cqw;
		max-height: 7px;
		display: block;
		background: url("../images/common/btn_arrow_white_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 0.26vw);
		top: calc(50% - 0.26cqw);
		right: 8%;
		z-index: 3;
		transition: right .35s ease;
	}
	
	div#fixed_contact a:hover::after,
	div#fixed_mail a:hover::after{
		right: 5%;
	}
	
	div#fixed_mail {
		width: 21%;
		height: 3.569vw;
		height: 3.569cqw;
		max-height: 46px;
		background: url("../images/common/btn_blue_mail.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		position: absolute;
		top: 0;
		right: 7.5%;
		box-shadow: 0 0 0.62vw 0 rgba(0, 0, 0, 0.5);
	}
	
	div#fixed_mail a::before{
		content: "";
		width: 2.07vw;
		width: 2.07cqw;
		max-width: 27px;
		height: 1.53vw;
		height: 1.53cqw;
		max-height: 20px;
		display: block;
		background: url("../images/common/icon_mail.svg") no-repeat;
		background-size: contain;
		position: absolute;
		top: 30%;
		left: 6%;
		z-index: 3;
	}
	
	article {
		background: url("../images/common/bg_on_grid1.png") repeat #2a71b7;
		background-size: 0.692vw;
		background-size: 0.692cqw;
		padding-bottom: 3.8vw;
		padding-bottom: 3.8cqw;
	}
	
	div#page_title {
		line-height: 0;
		position: relative;
	}
	
	div#page_title div.text_box {
		width: 90%;
		position: absolute;
		top: 42.6%;
		left: 6.46%;
		z-index: 5;
	}
	
	div#page_title div.text_box h2{
		font-family: "ADAMCGPRO", sans-serif;
		font-size: 8.0rem;
		font-size: clamp(calc((8.0rem * 0.739)), 6.15vw, 8.0rem);
		font-weight: 400;
		line-height: 1.14;
		letter-spacing: 0.06em;
		color: #2a71b7;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	}
	
	div#page_title div.text_box h2 span{
		font-size: 72%;
	}
	
	div#page_title div.text_box h2 small{
		display: block;
		font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 30%;
		font-weight: 700;
		color: #FFF;
		margin-top: 0;
	}
	
	div#page_title div.main {
		position: relative;
	}
	
	div#page_title div.main::after {
		content: "";
		width: 100%;
		height: 100%;
		background: url("../images/common/bg_on_grid1.png") repeat;
		background-size: 0.692vw;
		background-size: 0.692cqw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	
	div#page_title a.video {
		width: 21.9%;
		display: block;
		position: absolute;
		bottom: 3.8%;
		right: 2%;
		z-index: 5;
		cursor: pointer;
	}
	
	div#page_title a.video div.thum{
		position: relative;
		line-height: 0;
	}
	
	div#page_title a.video div.thum::after{
		content: "";
		width: 4.3vw;
		width: 4.3cqw;
		max-width: 56px;
		height: 4.3vw;
		height: 4.3cqw;
		max-height: 56px;
		display: block;
		background: url("../images/common/btn_play.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 28px);
		left: calc(50% - 28px);
		z-index: 3;
		transition: transform .35s ease;
	}
	
	div#page_title a.video:hover div.thum::after{
		content: "";
		transform:scale(1.2,1.2);
	}
	
	div#wrapper {
		/*background: url("../images/common/bg_on_grid1.png") repeat #2a71b7;
		background-size: 0.692vw;
		background-size: 0.692cqw;*/
		padding-top: 4px;
	}
	
	div#wrapper nav.quick_nav {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		padding-bottom: 44px;
	}
	
	div#wrapper nav.quick_nav ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div#wrapper nav.quick_nav ul li{
		width: 24.8%;
		height: 6.3vw;
		height: 6.3cqw;
		max-height: 82px;
		background: url("../images/common/nav_btn_bg.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		line-height: 1;
	}
	
	div#wrapper nav.quick_nav ul li:nth-child(n + 5){
		margin-top: 0.25em;
	}
	
	div#wrapper nav.quick_nav ul li a{
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	
	div#wrapper nav.quick_nav ul li a::after{
		content: "";
		width: 0.53vw;
		width: 0.53cqw;
		max-width: 7px;
		height: 0.61vw;
		height: 0.61cqw;
		max-height: 8px;
		display: block;
		background: url("../images/common/btn_arrow_white_y.svg") no-repeat;
		background: contain;
		position: absolute;
		bottom: 15%;
		right: 3.5%;
		z-index: 3;
		transition: bottom .35s ease;
	}
	
	div#wrapper nav.quick_nav ul li a:hover::after{
		bottom: 8%;
	}
	
	div#wrapper nav.quick_nav ul li a span.text{
		display: inline-block;
		font-weight: 700;
		text-align: center;
		color: #FFF;
		letter-spacing: 0.08em;
	}
	
	div#wrapper nav.quick_nav ul li a span.text small{
		display: block;
		font-family: "ADAMCGPRO", sans-serif;
		font-size: 62.5%;
		font-weight: 400;
		color: #2a71b7;
		margin-top: 1em;
	}
	
	div#wrapper nav.quick_nav ul li a span.text small span{
		font-size: 80%;
	}
	
	div.page_info {
		padding-bottom: 2.5vw;
		padding-bottom: 2.5cqw;
	}
	
	div.page_info div.page_info_inner{
		width: 94%;
		max-width: 1220px;
		margin: 0 auto;
		color: #FFF;
		position: relative;
	}
	
	div.page_info div.page_info_inner h1.page_label{
		font-size: 3.4rem;
		font-size: clamp(calc((3.4rem * 0.739)), 2.61vw, 3.4rem);
		font-weight: 700;
		letter-spacing: 0.12em;
		line-height: 1.4;
		text-align: center;
		margin-bottom: 1.5em;
		padding-bottom: 0.6em;
		position: relative;
	}
	
	div.page_info div.page_info_inner h1.page_label::after{
		content: "";
		width: 2.5em;
		height: 3px;
		background: #FFF;
		position: absolute;
		bottom: 0;
		left: calc(50% - 1.25em);
	}
	
	div.page_info div.page_info_inner h2{
		font-size: 4.0rem;
		font-size: clamp(calc((4.0rem * 0.739)), 3.07vw, 4.0rem);
		font-weight: 700;
		letter-spacing: 0.12em;
		margin-bottom: 0.5em;
		position: relative;
		z-index: 3;
	}
	
	div.page_info div.page_info_inner h3{
		font-size: 2.8rem;
		font-size: clamp(calc((2.8rem * 0.739)), 2.15vw, 2.8rem);
		font-weight: 400;
		letter-spacing: 0.08em;
		margin-bottom: 0.5em;
		position: relative;
		z-index: 3;
	}
	
	div.page_info div.page_info_inner p{
		font-size: 1.8rem;
		font-size: clamp(calc((1.8rem * 0.739)), 1.38vw, 1.8rem);
		font-weight: 400;
		letter-spacing: 0.08em;
		line-height: 1.8;
		position: relative;
		z-index: 3;
	}
	
	div.page_info div.page_info_inner p.cap{
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.92vw, 1.2rem);
		font-weight: 400;
		letter-spacing: 0.08em;
		margin-top: 2em;
		position: relative;
		z-index: 3;
	}
	
	section.white_bg_box {
		width: 94%;
		max-width: 1220px;
		margin: 0 auto;
		background: #FFF;
		border-radius: 6px;
		padding: 20px 50px 70px;
	}
	
	section.white_bg_box + section.white_bg_box{
		margin-top: 40px;
	}
	
	section.white_bg_box h2{
		font-size: 3.4rem;
		font-size: clamp(calc((3.4rem * 0.739)), 2.61vw, 3.4rem);
		font-weight: 700;
		letter-spacing: 0.08em;
		color: #2a71b7;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		margin-bottom: 0.5em;
	}
	
	section.white_bg_box h2::before{
		content: "";
		width: 5.07vw;
		width: 5.0cqw;
		max-width: 66px;
		height: 7.3vw;
		height: 7.3cqw;
		max-height: 95px;
		display: inline-block;
		background: url("../images/common/head_logo.svg") no-repeat;
		background-size: contain;
	}
	
	section.white_bg_box h2 + p{
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		letter-spacing: 0.08em;
		line-height: 1.8;
	}
	
	section.white_bg_box h3{
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		font-weight: 500;
		letter-spacing: 0.24em;
		color: #FFF;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		background: #333;
		padding: 0.25em 0.75em 0.3em;
		border-radius: 3px;
		margin-bottom: 0.75em;
	}
	
	footer {
		background: url("../images/common/f_bg.jpg") no-repeat;
		background-size: 100%;
		padding-bottom: 50px;
		color: #FFF;
    }
	
	footer div.f_block {
		width: 92%;
		margin: 0 auto;
		padding-top: 50px;
		position: relative;
	}
	
	footer div.f_block .f_block_inner {
		width: 90%;
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	footer div.f_block .f_block_inner div.l_block{
		width: 23%;
	}
	
	footer div.f_block .f_block_inner div.l_block h2{
		width: 94%;
		line-height: 0;
	}
	
	footer div.f_block .f_block_inner div.l_block h3{
		font-size: 1.4rem;
		font-size: clamp(calc((1.4rem * 0.739)), 1vw, 1.4rem);
		line-height: 1;
		margin-top: 1em;
		letter-spacing: 0.08em;
	}
	
	footer div.f_block .f_block_inner div.l_block address{
		display: block;
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.9vw, 1.2rem);
		font-weight: 400;
		font-style: normal;
		letter-spacing: 0.05em;
		line-height: 1.4;
		margin-top: 1em;
	}
	
	footer div.f_block .f_block_inner nav.r_block{
		width: 70%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 1.4rem;
		font-size: clamp(calc((1.4rem * 0.739)), 1vw, 1.4rem);
		margin-top: 1.5em;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul{
		display: inline-block;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li{
		display: block;
		font-size: 1.4rem;
		font-size: clamp(calc((1.4rem * 0.739)), 1vw, 1.4rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.08em;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li + li{
		margin-top: 1em;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li a{
		color: #333;
		transition-duration: 0.5s;
		transition-property: opacity;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li a:hover {
		opacity: 0.7;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li ul.sub{
		display: block;
		margin-top: 0.75em;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li ul.sub li{
		display: block;
		font-weight: 400;
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li ul.sub li::before{
		content: "・";
	}
	
	footer div.f_block .f_block_inner nav.r_block ul li ul.sub li + li{
		margin-top: 0.75em;
	}
	
	footer div.f_bottom{
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.9vw, 1.2rem);
		letter-spacing: 0.02em;
		color: #FFF;
		line-height: 1;
		text-align: center;
		padding: 40px 0;
    }
	
	footer a#pagetop_btn {
		width: 1.9vw;
		max-width: 25px;
		display: block;
		line-height: 0;
		position: absolute;
		top: -8px;
		right: 5.2%;
		z-index: 10;
	}
}


@media screen and (min-width:961px) and (max-width: 1430px){
	header {
		padding-top: 2vw;
		padding-top: 2cqw;
	}
	
	div#page_title a.video div.thum::after{
		content: "";
		top: calc(50% - 2.15vw);
		top: calc(50% - 2.15cqw);
		left: calc(50% - 2.15vw);
		left: calc(50% - 2.15cqw);
	}
	
	div#wrapper nav.quick_nav {
		padding-bottom: 3.4vw;
	}
	
	section.white_bg_box {
		border-radius: 0.46vw;
		padding: 1.53vw 3.84vw 5.38vw;
		padding: 1.53cqw 3.84cqw 5.38cqw;
	}
	
	section.white_bg_box + section.white_bg_box{
		margin-top: 3vw;
	}
	
	footer {
		background: url("../images/common/f_bg.jpg") no-repeat;
		background-size: 1537px 1334px;
		padding-bottom: 3.5vw;
		padding-bottom: 3.5cqw;
    }
	
	footer div.f_block {
		padding-top: 3.5vw;
		padding-top: 3.5cqw;
	}
	
	footer a#pagetop_btn {
		width: 1.9vw;
		max-width: 25px;
		position: absolute;
		top: -0.93vw;
		right: 5.2%;
	}
}
	

/*--------------------------------------------------------
　SP
--------------------------------------------------------*/

@media screen and (max-width: 960px){
	/*360-960px（500pxレイアウト remはレイアウト上のフォントサイズ）
	960/500=1.92
	360/500=0.72
	(2.5rem*1.92)/960=3.33vw
	font-size: calc(2.5rem * 0.48);
	font-size: clamp(calc((2.5rem * 0.48)), 3.33vw, calc(2.5rem * 1.28));
	*/
	
	.pc{
		display: none!important;
	}
	
	a:hover{
		text-decoration: none;
		opacity: 1;
	}
	
   a.tel[href^="tel:"] {
       pointer-events: auto;
       text-decoration: none;
    }
	
	.anime_box.show span.text {
		opacity: 1!important;
	}
	
	header {
		height: 18.2vw;
		height: 18.2cqw;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	
	header div#h_block {
		width: 90%;
		height: 100%;
		padding-top: 4.58vw;
		padding-top: 4.58cqw;
		margin: 0 auto;
		position: relative;
	}
	
	header div#h_block h1 {
		width: 63.2%;
		line-height: 0;
	}
	
	div#fixed_contact {
		width: 44%;
		height: 11vw;
		height: 11cqw;
		background: url("../images/common/btn_contact_bg.svg") no-repeat;
		background-size: cover;
		border-radius: 2vw;
		position: fixed;
		bottom: 3vw;
		bottom: 3cqw;
		left: 2%;
		box-shadow: 0 0 0.62vw 0 rgba(0, 0, 0, 0.5);
	}
	
	div#fixed_contact a,
	div#fixed_mail a{
		display: block;
		height: 100%;
		font-size: calc(2.4rem * 0.375);
		font-size: clamp(calc((2.4rem * 0.375)), 2.5vw, 2.4rem);
		font-weight: 700;
		letter-spacing: 0.1em;
		line-height: 1;
		color: #FFF;
		padding: 1.6em 0 0 4em;
		position: relative;
	}
	
	div#fixed_mail a{
		padding: 1.6em 0 0 3.75em;
	}
	
	div#fixed_contact a::before{
		content: "";
		width: 5.2vw;
		width: 5.2cqw;
		height: 5.95vw;
		height: 5.95cqw;
		display: block;
		background: url("../images/common/icon_form.svg") no-repeat;
		background-size: contain;
		position: absolute;
		top: 19%;
		left: 5%;
		z-index: 3;
	}
	
	div#fixed_contact a::after,
	div#fixed_mail a::after{
		content: "";
		width: 2.7vw;
		width: 2.7cqw;
		height: 2.33vw;
		height: 2.33cqw;
		display: block;
		background: url("../images/common/btn_arrow_white_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 1.16vw);
		top: calc(50% - 1.16cqw);
		right: 5%;
		z-index: 3;
	}
	
	div#fixed_mail {
		width: 50%;
		height: 11vw;
		height: 11cqw;
		background: url("../images/common/btn_blue_mail.svg") no-repeat;
		background-size: cover;
		border-radius: 2vw;
		position: fixed;
		bottom: 3vw;
		bottom: 3cqw;
		right: 2%;
		box-shadow: 0 0 0.62vw 0 rgba(0, 0, 0, 0.5);
	}
	
	div#fixed_mail a::before{
		content: "";
		width: 5.4vw;
		width: 5.4cqw;
		height: 4vw;
		height: 4cqw;
		display: block;
		background: url("../images/common/icon_mail.svg") no-repeat;
		background-size: contain;
		position: absolute;
		top: 31%;
		left: 4%;
		z-index: 3;
	}
	
	article {
		background: url("../images/common/bg_on_grid1.png") repeat #2a71b7;
		background-size: 3.75vw;
		background-size: 3.75cqw;
		padding-bottom: 20vw;
		padding-bottom: 20cqw;
	}

	div#page_title {
		line-height: 0;
		position: relative;
	}
	
	div#page_title div.text_box {
		width: 90%;
		position: absolute;
		top: 36.8%;
		left: 5%;
		z-index: 5;
	}
	
	div#page_title div.text_box h2{
		font-family: "ADAMCGPRO", sans-serif;
		font-size: calc(9.6rem * 0.375);
		font-size: clamp(calc((9.6rem * 0.375)), 10vw, 9.6rem);
		font-weight: 400;
		line-height: 1.14;
		letter-spacing: 0.06em;
		color: #2a71b7;
		text-shadow: 0px 0px 0.4vw rgba(0, 0, 0, 0.4);
	}
	
	div#page_title div.text_box h2 span{
		font-size: 72%;
	}
	
	div#page_title div.text_box h2 small{
		display: block;
		font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 37.5%;
		font-weight: 700;
		color: #FFF;
		margin-top: 0;
	}
	
	div#page_title div.main {
		position: relative;
	}
	
	div#page_title div.main::after {
		content: "";
		width: 100%;
		height: 100%;
		background: url("../images/common/bg_on_grid1.png") repeat;
		background-size: 3.75vw;
		background-size: 3.75cqw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	
	div#page_title a.video {
		width: 40%;
		display: block;
		position: absolute;
		bottom: 3.8%;
		right: 2.5%;
		z-index: 5;
		cursor: pointer;
	}
	
	div#page_title a.video div.thum{
		position: relative;
		line-height: 0;
	}
	
	div#page_title a.video div.thum::after{
		content: "";
		width: 10vw;
		width: 10cqw;
		height: 10vw;
		height: 10cqw;
		display: block;
		background: url("../images/common/btn_play.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 5vw);
		top: calc(50% - 5cqw);
		left: calc(50% - 5vw);
		left: calc(50% - 5cqw);
		z-index: 3;
	}
	
	div#wrapper {
		/*background: url("../images/common/bg_on_grid1.png") repeat #2a71b7;
		background-size: 3.75vw;
		background-size: 3.75cqw;*/
		padding-top: 1.4vw;
	}
	
	div#wrapper nav.quick_nav {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 8vw;
	}
	
	div#wrapper nav.quick_nav ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div#wrapper nav.quick_nav ul li{
		width: 49.7%;
		height: 12.7vw;
		height: 12.7cqw;
		background: url("../images/common/nav_btn_bg.svg") no-repeat;
		background-size: cover;
		border-radius: 0.9vw;
		font-size: calc(3.4rem * 0.375);
		font-size: clamp(calc((3.4rem * 0.375)), 3.33vw, 3.4rem);
		line-height: 1;
	}
	
	div#wrapper nav.quick_nav ul li:nth-child(n + 3){
		margin-top: 0.25em;
	}
	
	div#wrapper nav.quick_nav ul li a{
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	
	div#wrapper nav.quick_nav ul li a::after{
		content: "";
		width: 1.66vw;
		width: 1.66cqw;
		height: 1.77vw;
		height: 1.77cqw;
		display: block;
		background: url("../images/common/btn_arrow_white_y.svg") no-repeat;
		background: contain;
		position: absolute;
		bottom: 15%;
		right: 3.5%;
		z-index: 3;
	}
	
	div#wrapper nav.quick_nav ul li a span.text{
		display: inline-block;
		font-weight: 700;
		text-align: center;
		color: #FFF;
		letter-spacing: 0.08em;
	}
	
	div#wrapper nav.quick_nav ul li a span.text small{
		display: block;
		font-family: "ADAMCGPRO", sans-serif;
		font-size: 62.5%;
		font-weight: 400;
		color: #2a71b7;
		margin-top: 1em;
	}
	
	div#wrapper nav.quick_nav ul li a span.text small span{
		font-size: 80%;
	}
	
	div.page_info {
		padding-bottom: 12vw;
		padding-bottom: 12cqw;
	}
	
	div.page_info div.page_info_inner{
		width: 90%;
		margin: 0 auto;
		color: #FFF;
		position: relative;
	}
	
	div.page_info div.page_info_inner h1.page_label{
		font-size: calc(4.8rem * 0.375);
		font-size: clamp(calc((4.8rem * 0.375)), 5vw, 4.8rem);
		font-weight: 700;
		letter-spacing: 0.12em;
		line-height: 1.4;
		text-align: center;
		margin-bottom: 2.5em;
		padding-bottom: 0.6em;
		position: relative;
	}
	
	div.page_info div.page_info_inner h1.page_label::after{
		content: "";
		width: 2.5em;
		height: 2px;
		background: #FFF;
		position: absolute;
		bottom: 0;
		left: calc(50% - 1.25em);
	}
	
	div.page_info div.page_info_inner h2{
		font-size: calc(6.0rem * 0.375);
		font-size: clamp(calc((6.0rem * 0.375)), 6.25vw, 6.0rem);
		font-weight: 700;
		letter-spacing: 0.12em;
		margin-bottom: 0.75em;
		position: relative;
		z-index: 3;
	}
	
	div.page_info div.page_info_inner h3{
		font-size: calc(4.4rem * 0.375);
		font-size: clamp(calc((4.4rem * 0.375)), 4.58vw, 4.4rem);
		font-weight: 400;
		letter-spacing: 0.08em;
		margin-bottom: 0.5em;
		position: relative;
		z-index: 3;
	}
	
	div.page_info div.page_info_inner p{
		font-size: calc(3.6rem * 0.375);
		font-size: clamp(calc((3.6rem * 0.375)), 3.75vw, 3.6rem);
		font-weight: 400;
		letter-spacing: 0.08em;
		line-height: 1.8;
		position: relative;
		z-index: 3;
	}
	
	div.page_info div.page_info_inner p.cap{
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		font-weight: 400;
		letter-spacing: 0.08em;
		margin-top: 2em;
		position: relative;
		z-index: 3;
	}
	
	section.white_bg_box {
		width: 90%;
		margin: 0 auto;
		background: #FFF;
		border-radius: 1vw;
		padding: 3vw 5vw 8vw;
		padding: 3cqw 5cqw 8cqw;
	}
	
	section.white_bg_box + section.white_bg_box{
		margin-top: 40px;
	}
	
	section.white_bg_box h2{
		min-height: 12.14vw;
		min-height: 12.14cqw;
		font-size: calc(5.4rem * 0.375);
		font-size: clamp(calc((5.4rem * 0.375)), 5.62vw, 5.4rem);
		font-weight: 700;
		letter-spacing: 0.08em;
		line-height: 1.3;
		color: #2a71b7;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		margin-bottom: 0.5em;
		padding-left: 10vw;
		padding-left: 10cqw;
		position: relative;
	}
	
	section.white_bg_box h2::before{
		content: "";
		width: 9.12vw;
		width: 9.12cqw;
		height: 13.14vw;
		height: 13.14cqw;
		display: inline-block;
		background: url("../images/common/head_logo.svg") no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	section.white_bg_box h2 + p{
		font-size: calc(3.6rem * 0.375);
		font-size: clamp(calc((3.6rem * 0.375)), 3.75vw, 3.6rem);
		letter-spacing: 0.08em;
		line-height: 1.8;
	}
	
	section.white_bg_box h3{
		font-size: calc(4.0rem * 0.375);
		font-size: clamp(calc((4.0rem * 0.375)), 4.16vw, 4.0rem);
		font-weight: 500;
		letter-spacing: 0.24em;
		color: #FFF;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		background: #333;
		padding: 0.25em 0.75em 0.3em;
		border-radius: 1.04vw;
		margin-bottom: 0.75em;
	}
	
	section.white_bg_box div.scllor_block {
		overflow: hidden;
		padding-bottom: 4vw;
	}
	
	/*section.white_bg_box div.scllor_block::-webkit-scrollbar {
		display: none;
	}
	
	.simplebar-scrollbar::before {
		background: #2a71b7;
		border-radius: 0;
		height: 5px !important;
		margin-left: 2px;
		margin-top: 3px;
    }
	
	.simplebar-scrollbar.simplebar-visible::before {
		opacity: 1;
	}
	
	.simplebar-track {
		background: #cbd2e0;
		height: 15px !important;
	}*/
	
	
	footer {
		background: #333;
		position: relative;
    }
	
	footer div.f_block {
		width: 100%;
		background: #FFF;
		padding: 5.7vw 0 7.8vw;
		position: relative;
	}
	
	footer div.f_block .f_block_inner {
		width: 80%;
		margin: 0 auto;
	}
	
	footer div.f_block .f_block_inner div.l_block{
		width: 100%;
	}
	
	footer div.f_block .f_block_inner div.l_block h2{
		width: 100%;
		line-height: 0;
	}
	
	footer div.f_block .f_block_inner div.l_block h3{
		font-size: calc(3.4rem * 0.375);
		font-size: clamp(calc((3.4rem * 0.375)), 3.33vw, 3.4rem);
		line-height: 1;
		margin-top: 1em;
		letter-spacing: 0.08em;
	}
	
	footer div.f_block .f_block_inner div.l_block address{
		display: block;
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		font-weight: 400;
		font-style: normal;
		letter-spacing: 0.05em;
		line-height: 1.4;
		margin-top: 1em;
	}
	
	footer div.f_block .f_block_inner nav.r_block{
		display: none;
	}
	
	footer div.f_bottom{
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		letter-spacing: 0.02em;
		color: #FFF;
		line-height: 1;
		text-align: center;
		padding: 6.8vw 0 20vw;
		padding: 6.8cqw 0 20cqw;
    }
	
	footer a#pagetop_btn {
		width: 12vw;
		display: block;
		line-height: 0;
		position: absolute;
		top: -5.8vw;
		right: 5%;
		z-index: 10;
	}
}

/*ハンバーガーナビ*/
header div.nav_open_btn {
    width: 3.84vw;
    width: 3.84cqw;
	max-width: 50px;
	height: 3.84vw;
    height: 3.84cqw;
	max-height: 50px;
    position: absolute;
    top: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    cursor: pointer;
}

header div.nav_open_btn div.hamburger {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

header div.nav_open_btn div.hamburger span{
    width: 100%;
    height: 2px;
    background: #FFF;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: 0.3s ease-in-out;
}

header.white_mode .nav_open_btn .hamburger span{
    background: #000;
}

header div.nav_open_btn div.hamburger span:first-of-type{
    top: 16%;
}

header div.nav_open_btn div.hamburger span:nth-child(2){
    top: calc(50% - 1px);
}

header div.nav_open_btn div.hamburger span:last-of-type{
    bottom: 16%;
}

header div.nav_open_btn.active div.hamburger span:first-of-type {
    transform:rotate(45deg);
    top: calc(50% - 0.1px);
}
header div.nav_open_btn.active div.hamburger span:last-of-type {
    transform:rotate(-45deg);
    bottom: calc(50% - 0.1px);
}
header div.nav_open_btn.active div.hamburger span:nth-child(2) {
     display: none;
}
body #modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -888;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: opacity, color;
    visibility: hidden; 
}

body.nav_open #modal {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

body.nav_open {
    overflow: hidden;
}

body.nav_open header .nav_open_btn .hamburger span{
    background: #FFF;
}

body nav.slide_nav {
    width: 90%;
	max-width: 600px;
    height: 100%;
    position: fixed;
    z-index : 9997;
    top: 0;
    right: 0;
    transform: translateX(110%);
    transition-property: transform;
    transition-duration: 0.6s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	background: url("../images/common/bg_on_grid1.png") repeat #2a71b7;
    background-size: 0.692vw;
    background-size: 0.692cqw;
}

body nav.slide_nav ul{
    width: 80%;
	margin: 0 auto;
	color: #FFF;
	font-weight: 700;
	position: relative;
	z-index: 5;
}

body nav.slide_nav ul li + li{
    margin-top: 2em;
}

body nav.slide_nav ul li ul.sub{
    width: 100%;
	margin-top: 1em;
	padding-left: 1em;
	font-weight: 400;
}

body nav.slide_nav ul li ul.sub li + li{
   margin-top: 1em;
}

body nav.slide_nav ul li ul.sub li::before{
    content: "・";
}

body nav.slide_nav a{
    color: #FFF;
}


nav.slide_nav.active {
    transform: translateY(0%);
}

@media screen and (min-width:961px){
	body nav.slide_nav {
        padding: 88px 0;
    }
	
	body nav.slide_nav ul li{
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		line-height: 1;
		letter-spacing: 0.18em;
    }
}

@media screen and (min-width:961px) and (max-width: 1300px){
	body nav.slide_nav {
        padding: 6.76vw 0;
        padding: 6.76cqw 0;
    }
	
	body nav.slide_nav {
        max-width: 400px;
    }
}


@media screen and (max-width: 960px){
	header div.nav_open_btn {
        width: 12vw;
        width: 12cqw;
        max-width: initial;
        height: 12vw;
        height: 12cqw;
        max-height: initial;
        top: 25%;
    }
	
	body nav.slide_nav {
        padding: 18.2vw 0;
        padding: 18.2cqw 0;
		background: url("../images/common/bg_on_grid1.png") repeat #2a71b7;
        background-size: 3.75vw;
		background-size: 3.75cqw;
    }
	
	body nav.slide_nav ul li{
		font-size: calc(3.4rem * 0.375);
		font-size: clamp(calc((3.4rem * 0.375)), 3.54vw, 3.4rem);
		line-height: 1;
		letter-spacing: 0.18em;
    }
}