@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------
　基本設定
--------------------------------------------------------*/

#mv {
	position: relative;
	line-height: 0;
}

/*--------------------------------------------------------
　PC
--------------------------------------------------------*/

@media print, screen and (min-width: 961px){
	
	header .slide_nav li.parent:first-child {
		border-bottom: 2px solid #6faf69;
	}
	
	#mv h2 {
		width: 68.1%;
		line-height: 0;
		position: absolute;
		top: 41%;
		left: 15.95%;
		z-index: 5;
	}
}


@media screen and (min-width:961px) and (max-width: 1430px){
	
	
}
	

/*--------------------------------------------------------
　SP
--------------------------------------------------------*/

@media screen and (max-width: 960px){
	
	#mv h2 {
		width: 88.8%;
		line-height: 0;
		position: absolute;
		top: 50%;
		left: 5.6%;
		z-index: 5;
	}
	
}