@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------
　基本設定
--------------------------------------------------------*/

article {
	padding-bottom: 0;
}

section.technology::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
	transform-origin: right center;
	transform: scaleX(1);
	transition: transform 0.8s ease;
}

section.technology:nth-child(even)::before {
	transform-origin: left center;
	transform: scaleX(1);
	transition: transform 0.8s ease;
}

section.technology.active::before {
	transform: scaleX(0);
}

/*--------------------------------------------------------
　PC
--------------------------------------------------------*/

@media print, screen and (min-width: 961px){
	
	section#mv {
		width: 100%;
		position: relative;
		line-height: 0;
	}
	
	section#mv div.main{
		width: 100%;
		position: relative;
	}
	
	section#mv div.main::before{
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		background: url("../images/common/bg_on_grid1.png") repeat;
		background-size: 0.692vw;
		background-size: 0.692cqw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	
	section#mv div.text_box{
		display: inline-block;
		position: absolute;
		top: 34.8%;
		left: 6.38%;
		z-index: 5;
	}
	
	section#mv div.text_box h2{
		font-size: 2.2rem;
		font-size: clamp(calc((2.2rem * 0.739)), 1.69vw, 2.2rem);
		line-height: 1;
		letter-spacing: 0.18em;
		color: #FFF;
		background: #2a71b7;
		border-radius: 6px;
		padding: 0.4em 1.5em;
		margin-bottom: 1em;
		display: inline-block;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
	}
	
	section#mv div.text_box p{
		font-size: 3.0rem;
		font-size: clamp(calc((3.0rem * 0.739)), 2.3vw, 3.0rem);
		font-weight: 700;
		line-height: 1.6;
		letter-spacing: 0.14em;
		color: #2a71b7;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	}
	
	div#wrapper  {
		padding-bottom: 25px;
	}
	
	div#wrapper nav.quick_nav{
		padding-bottom: 25px;
	}
	
	div#wrapper nav.sub_quick_nav {
		width: 93.6%;
		max-width: 1218px;
		margin: 0 auto;
	}
	
	div#wrapper nav.sub_quick_nav ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div#wrapper nav.sub_quick_nav ul li{
		width: 24%;
		height: 140px;
		border-radius: 6px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
		position: relative;
		overflow: hidden;
	}
	
	div#wrapper nav.sub_quick_nav ul li.bg1{
		background: url("../images/top/quick_nav01bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	div#wrapper nav.sub_quick_nav ul li.bg2{
		background: url("../images/top/quick_nav02bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	div#wrapper nav.sub_quick_nav ul li.bg3{
		background: url("../images/top/quick_nav03bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	div#wrapper nav.sub_quick_nav ul li.bg4{
		background: url("../images/top/quick_nav04bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	
	div#wrapper nav.sub_quick_nav ul li a{
		display: block;
		height: 100%;
		position: relative;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line{
		width: 100%;
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.08em;
		color: #FFF;
		background: #333;
		padding: 0.4em 1em 0.5em;
		position: absolute;
		top: 57%;
		left: 0;
		z-index: 3;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line span.box{
		display: inline-block;
		font-family: "ADAMCGPRO", sans-serif;
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.08em;
		color: #FFF;
		position: absolute;
		top: 30%;
		left: 65%;
		z-index: 3;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line span.box span{
		opacity: 0.2;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line span.box::after{
		content: "";
		width: 0.61vw;
		width: 0.61cqw;
		max-width: 8px;
		height: 0.53vw;
		height: 0.53cqw;
		max-height: 7px;
		display: block;
		background: url("../images/common/btn_arrow_white_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 0.26vw);
		top: calc(50% - 0.26cqw);
		right: -23%;
		z-index: 3;
		transition: right .35s ease;
	}
	
	div#wrapper nav.sub_quick_nav ul li a:hover div.line span.box::after{
		right: -28%;
	}
	
	section.technology {
		width: 100%;
		height: 38.4vw;
		height: 38.4cqw;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		position: relative;
		z-index: 0;
		line-height: 0;
		border-bottom: 10px solid #333;
	}
	
	section.technology:nth-child(even) {
		justify-content: flex-end;
	}
	
	section.technology div.block{
		width: 48.4%;
		max-width: 630px;
		height: 35.2vw;
		height: 35.2cqw;
		max-height: 458px;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	
	section.technology div.block div.text_block{
		width: 72%;
		height: 84%;
		position: absolute;
		top: 11%;
		left: 5%;
		z-index: 3;
	}
	
	section.technology:nth-child(even) div.text_block{
		left: initial!important;
		right: 5%;
	}
	
	section.technology div.text_block div.box{
		color: #FFF;
	}
	
	section.technology div.text_block div.box h6{
		font-size: 1.4rem;
		font-size: clamp(calc((1.4rem * 0.739)), 1.07vw, 1.4rem);
		font-weight: 500;
		line-height: 1.75;
		letter-spacing: 0.08em;
	}
	
	section.technology div.text_block div.box h2{
		font-family: "ADAMCGPRO", sans-serif;
		font-size: 3.6rem;
		font-size: clamp(calc((3.6rem * 0.739)), 2.76vw, 3.6rem);
		font-weight: 400;
		line-height: 1.14;
		letter-spacing: 0.06em;
		color: #2a71b7;
		margin-top: 0.25em;
	}
	
	section.technology div.text_block div.box span{
		font-size: 72%;
	}
	
	section.technology div.text_block div.box h2 small{
		display: block;
		font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 50%;
		font-weight: 700;
		color: #FFF;
		margin-top: 0;
	}
	
	section.technology div.text_block div.box h3{
		font-size: 1.6rem;
		font-size: clamp(calc((1.6rem * 0.739)), 1.23vw, 1.6rem);
		font-weight: 700;
		line-height: 1.75;
		letter-spacing: 0.08em;
		margin-top: 2.5em;
	}
	
	section.technology div.text_block div.box p{
		font-size: 1.4rem;
		font-size: clamp(calc((1.4rem * 0.739)), 1.07vw, 1.4rem);
		font-weight: 400;
		line-height: 1.75;
		letter-spacing: 0.06em;
		text-align: justify;
		margin-top: 1em;
	}
	
	section.technology div.text_block div.box p.cap{
		font-size: 1.0rem;
		font-size: clamp(calc((1.0rem * 0.739)), 0.76vw, 1.0rem);
		font-weight: 300;
		line-height: 1.75;
		letter-spacing: 0.06em;
		margin-top: 1em;
	}
	
	section.technology div.text_block ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
	
	div.other_section section ul{
		width: 68.6%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
        z-index: 5;
		margin-top: -20px;
	}
	
	section.technology div.text_block ul li,
	div.other_section section ul li{
		width: 46%;
		height: 35.7vw;
		height: 35.7cqw;
		max-height: 46px;
		background: url("../images/common/btn_blue.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		overflow: hidden;
	}
	
	section.technology div.text_block ul li a,
	div.other_section section ul li a{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.92vw, 1.2rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.06em;
		color: #333;
		padding: 0 1.5em;
		position: relative;
	}
	
	section.technology div.text_block ul li a::after,
	div.other_section section ul li a::after{
		content: "";
		width: 0.61vw;
		width: 0.61cqw;
		max-width: 8px;
		height: 0.53vw;
		height: 0.53cqw;
		max-height: 7px;
		display: block;
		background: url("../images/common/btn_arrow_gray_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 0.26vw);
		top: calc(50% - 0.26cqw);
		right: 8%;
		z-index: 3;
		transition: right .35s ease;
	}
	
	section.technology div.text_block ul li a:hover::after,
	div.other_section section ul li a:hover::after{
		right: 5%;
	}
	
	section#tafflat {
		background: url("../images/top/section01bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#air_blast {
		background: url("../images/top/section02bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#wet_blast {
		background: url("../images/top/section03bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#wpc {
		background: url("../images/top/section04bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#mos2_shot {
		background: url("../images/top/section05bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#shot_peening {
		background: url("../images/top/section06bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#mirror_finishing {
		background: url("../images/top/section07bg_pc.jpg") no-repeat;
		background-size: cover;
	}
	section#shield_blast {
		background: url("../images/top/section08bg_pc.jpg") no-repeat;
		background-size: cover;
		border-bottom: none;
	}
	
	section#tafflat figure.logo {
		width: 15.7vw;
		width: 15.7cqw;
		max-width: 204px;
		line-height: 0;
		position: absolute;
		bottom: 38px;
		left: 552px;
		z-index: 5;
	}
	
	section#shield_blast figure.logo {
		width: 11.2vw;
		width: 11.2cqw;
		max-width: 146px;
		line-height: 0;
		position: absolute;
		bottom: 30px;
		right: 558px;
		z-index: 5;
	}
	
	div.other_section {
		width: 100%;
		background: url("../images/common/bg_on_grid1.png") repeat #333;
		background-size: 0.692vw;
		background-size: 0.692cqw;
		padding: 3.8vw 0;
		padding: 3.8cqw 0;
	}
	
	div.other_section div.fl_block {
		width: 90%;
		max-width: 1180px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div.other_section div.fl_block section{
		width: 38.8%;
		padding-left: 4.8%;
		border-left: 1px solid #2a71b7;
	}
	
	div.other_section div.fl_block section:first-of-type{
		width: 56%;
		padding-left: 0;
		border: none;
	}
	
	div.other_section div.fl_block section h2{
		font-family: "ADAMCGPRO", sans-serif;
		font-size: 3.6rem;
		font-size: clamp(calc((3.6rem * 0.739)), 2.76vw, 3.6rem);
		font-weight: 400;
		line-height: 1.14;
		letter-spacing: 0.06em;
		color: #2a71b7;
		margin-bottom: 0.5em;
	}
	
	div.other_section div.fl_block section small{
		display: block;
		font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 50%;
		font-weight: 700;
		color: #FFF;
		margin-top: 0;
	}
	
	div.other_section div.fl_block section div.photo{
		line-height: 0;
		position: relative;
		z-index: 3;
	}
	
	div.other_section div.fl_block section div.btn{
		width: 15.6vw;
		width: 15.6cqw;
		max-width: 203px;
		height: 35.7vw;
		height: 35.7cqw;
		max-height: 46px;
		background: url("../images/common/btn_blue.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		overflow: hidden;
		position: relative;
		z-index: 5;
		margin-top: -20px;
	}
	
	div.other_section div.fl_block section div.btn a{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.92vw, 1.2rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.06em;
		color: #333;
		padding: 0 1.5em;
		position: relative;
	}
	
	div.other_section div.fl_block section div.btn a::after{
		content: "";
		width: 0.61vw;
		width: 0.61cqw;
		max-width: 8px;
		height: 0.53vw;
		height: 0.53cqw;
		max-height: 7px;
		display: block;
		background: url("../images/common/btn_arrow_gray_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 0.26vw);
		top: calc(50% - 0.26cqw);
		right: 8%;
		z-index: 3;
		transition: right .35s ease;
	}
	
	div.other_section div.fl_block section div.btn a:hover::after{
		right: 5%;
	}
	
	div.pop_block {
		display: none;
	}
	
	.fancybox-slide--html .fancybox-close-small {
        color: #FFF;
        padding: 5px;
        right: 0;
        top: 0;
		border: 2px solid #FFF;
		border-radius: 100%;
    }
	
	.fancybox-content {
        background: none;
        display: inline-block;
        margin: 0;
		width: 80%;
		max-width: 1036px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 90px;
        position: relative;
        text-align: left;
        vertical-align: middle;
    }
	
	ul.video_list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.92vw, 1.2rem);
	}
	
	ul.video_list li{
		width: 46.6%;
	}
	
	ul.video_list li:nth-child(n + 3){
		margin-top: 4em;
	}
	
	ul.video_list li a{
		display: block;
	}
	
	ul.video_list li a div.thum{
		display: block;
		line-height: 0;
		position: relative;
		z-index: 1;
	}
	
	ul.video_list li a div.thum::after{
		content: "";
		width: 4.3vw;
		width: 4.3cqw;
		max-width: 56px;
		height: 4.3vw;
		height: 4.3cqw;
		max-height: 56px;
		display: block;
		background: url("../images/common/btn_play.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 28px);
		left: calc(50% - 28px);
		z-index: 3;
		transition: transform .35s ease;
	}
	
	ul.video_list li a:hover div.thum::after{
		content: "";
		transform:scale(1.2,1.2);
	}
	
	ul.video_list li a h6{
		width: 100%;
		height: 35.7vw;
		height: 35.7cqw;
		max-height: 46px;
		background: url("../images/common/btn_blue_wide.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		overflow: hidden;
		position: relative;
		z-index: 5;
		margin-top: 1.5em;
	}
	
	ul.video_list li a h6 span{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 1.2rem;
		font-size: clamp(calc((1.2rem * 0.739)), 0.92vw, 1.2rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.06em;
		color: #333;
		padding: 0 1.5em;
		position: relative;
	}
	
	ul.video_list li a h6 span::after{
		content: "";
		width: 0.61vw;
		width: 0.61cqw;
		max-width: 8px;
		height: 0.53vw;
		height: 0.53cqw;
		max-height: 7px;
		display: block;
		background: url("../images/common/btn_arrow_gray_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 0.26vw);
		top: calc(50% - 0.26cqw);
		right: 8%;
		z-index: 3;
		transition: right .35s ease;
	}
	
	ul.video_list li a:hover h6 span::after{
		right: 5%;
	}
	
}


@media screen and (min-width:961px) and (max-width: 1300px){
	
	div#wrapper{
		padding-bottom: 2vw;
	}
	
	div#wrapper nav.quick_nav{
		padding-bottom: 2vw;
	}
	
	div#wrapper nav.sub_quick_nav ul li{
		height: 10.7vw;
		height: 10.7cqw;
		box-shadow: 0 0 4.6vw 0 rgba(0, 0, 0, 0.3);
	}
	
	div.other_section div.fl_block section div.btn,
	div.other_section section ul{
		margin-top: -1.53vw;
		margin-top: -1.53cqw;
	}
	
	section#tafflat figure.logo {
		bottom: 8%;
		left: 42.4%;
	}
	
	section#shield_blast figure.logo {
		bottom: 6%;
		right: 43%;
	}
	
	ul.video_list li a div.thum::after{
		content: "";
		top: calc(50% - 2.15vw);
		top: calc(50% - 2.15cqw);
		left: calc(50% - 2.15vw);
		left: calc(50% - 2.15cqw);
	}
}
	

/*--------------------------------------------------------
　SP
--------------------------------------------------------*/

@media screen and (max-width: 960px){
	
	section#mv {
		width: 100%;
		position: relative;
		line-height: 0;
	}
	
	section#mv div.main{
		width: 100%;
		position: relative;
	}
	
	section#mv div.main::before{
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		background: url("../images/common/bg_on_grid1.png") repeat;
		background-size: 3.75vw;
		background-size: 3.75cqw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	
	section#mv div.text_box{
		display: inline-block;
		position: absolute;
		top: 28.4%;
		left: 5%;
		z-index: 5;
	}
	
	section#mv div.text_box h2{
		font-size: calc(3.7rem * 0.375);
		font-size: clamp(calc((3.7rem * 0.375)), 3.85vw, 3.7rem);
		line-height: 1;
		letter-spacing: 0.18em;
		color: #FFF;
		background: #2a71b7;
		border-radius: 6px;
		padding: 0.4em 1.5em;
		margin-bottom: 1em;
		display: inline-block;
		box-shadow: 0 0 0.62vw 0 rgba(0, 0, 0, 0.5);
	}
	
	section#mv div.text_box p{
		font-size: calc(5.1rem * 0.375);
		font-size: clamp(calc((5.1rem * 0.375)), 5.31vw, 5.1rem);
		font-weight: 700;
		line-height: 1.6;
		letter-spacing: 0.14em;
		color: #2a71b7;
		text-shadow: 0px 0px 0.62vw rgba(0, 0, 0, 0.2);
	}
	
	div#wrapper  {
		padding-bottom: 5.8vw;
	}
	
	div#wrapper nav.quick_nav{
		padding-bottom: 5.8vw;
	}
	
	div#wrapper nav.sub_quick_nav {
		width: 90%;
		margin: 0 auto;
	}
	
	div#wrapper nav.sub_quick_nav ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div#wrapper nav.sub_quick_nav ul li{
		width: 48.8%;
		height: 31.25vw;
		height: 31.25cqw;
		border-radius: 1vw;
		box-shadow: 0 0 0.9vw 0 rgba(0, 0, 0, 0.3);
		position: relative;
		overflow: hidden;
	}
	
	div#wrapper nav.sub_quick_nav ul li:nth-child(n + 3){
		margin-top: 3.7vw;
	}
	
	div#wrapper nav.sub_quick_nav ul li.bg1{
		background: url("../images/top/quick_nav01bg_sp.jpg") no-repeat;
		background-size: cover;
	}
	div#wrapper nav.sub_quick_nav ul li.bg2{
		background: url("../images/top/quick_nav02bg_sp.jpg") no-repeat;
		background-size: cover;
	}
	div#wrapper nav.sub_quick_nav ul li.bg3{
		background: url("../images/top/quick_nav03bg_sp.jpg") no-repeat;
		background-size: cover;
	}
	div#wrapper nav.sub_quick_nav ul li.bg4{
		background: url("../images/top/quick_nav04bg_sp.jpg") no-repeat;
		background-size: cover;
	}
	
	div#wrapper nav.sub_quick_nav ul li a{
		display: block;
		height: 100%;
		position: relative;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line{
		width: 100%;
		height: 11vw;
		height: 11cqw;
		font-size: calc(3.5rem * 0.375);
		font-size: clamp(calc((3.5rem * 0.375)), 3.64vw, 3.5rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.08em;
		color: #FFF;
		background: #333;
		padding: 0.5em 0.5em 0.5em;
		position: absolute;
		top: 57%;
		left: 0;
		z-index: 3;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line span.box{
		display: inline-block;
		font-family: "ADAMCGPRO", sans-serif;
		font-size: calc(2.3rem * 0.375);
		font-size: clamp(calc((2.3rem * 0.375)), 2.39vw, 2.3rem);
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.08em;
		color: #FFF;
		position: absolute;
		bottom: 13%;
		right: 12%;
		z-index: 3;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line span.box span{
		opacity: 0.2;
	}
	
	div#wrapper nav.sub_quick_nav ul li a div.line span.box::after{
		content: "";
		width: 1.77vw;
		width: 1.77vw;
		height: 1.66vw;
		height: 1.66vw;
		display: block;
		background: url("../images/common/btn_arrow_white_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 0.83vw);
		top: calc(50% - 0.83cqw);
		right: -30%;
		z-index: 3;
	}
	
	section.technology {
        width: 100%;
        padding-top: 50vw;
        padding-top: 50cqw;
        position: relative;
        z-index: 0;
        line-height: 0;
        border-bottom: 2vw solid #333;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto !important;
        overflow: hidden;
	}
	
	section.technology div.block{
		padding: 9vw 0;
		padding: 9cqw 0;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	
	section.technology div.block picture {
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	
	section.technology div.block::after{
		content: "";
		width: 88.75%;
		height: calc(100% - 43.75vw);
		height: calc(100% - 43.75cqw);
		display: inline-block;
		background: #333;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	
	section.technology:nth-child(even) div.block::after{
		left: initial;
		right: 0;
	}
	
	section.technology div.block div.text_block{
		width: 79%;
		position: relative;
		z-index: 5;
		margin-left: 4.8%;
	}
	
	section.technology:nth-child(even) div.block div.text_block{
		margin-left: 16.25%;
	}
	
	section.technology div.text_block div.box{
		color: #FFF;
	}
	
	section.technology div.text_block div.box h6{
		font-size: calc(3.4rem * 0.375);
		font-size: clamp(calc((3.4rem * 0.375)), 3.54vw, 3.4rem);
		font-weight: 500;
		line-height: 1.75;
		letter-spacing: 0.08em;
	}
	
	section.technology div.text_block div.box h2{
		font-family: "ADAMCGPRO", sans-serif;
		font-size: calc(9.6rem * 0.375);
		font-size: clamp(calc((9.6rem * 0.375)), 10vw, 9.6rem);
		font-weight: 400;
		line-height: 1.14;
		letter-spacing: 0.06em;
		color: #2a71b7;
		margin-top: 0.25em;
	}
	
	section.technology div.text_block div.box span{
		font-size: 72%;
	}
	
	section.technology div.text_block div.box h2 small{
		display: block;
		font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 50%;
		font-weight: 700;
		color: #FFF;
		margin-top: 0;
	}
	
	section.technology div.text_block div.box h3{
		font-size: calc(4.2rem * 0.375);
		font-size: clamp(calc((4.2rem * 0.375)), 4.37vw, 4.2rem);
		font-weight: 700;
		line-height: 1.75;
		letter-spacing: 0.08em;
		margin-top: 2.5em;
	}
	
	section.technology div.text_block div.box p{
		font-size: calc(3.4rem * 0.375);
		font-size: clamp(calc((3.4rem * 0.375)), 3.54vw, 3.4rem);
		font-weight: 400;
		line-height: 1.75;
		letter-spacing: 0.06em;
		text-align: justify;
		margin-top: 1em;
	}
	
	section.technology div.text_block div.box p.cap{
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		font-weight: 300;
		line-height: 1.75;
		letter-spacing: 0.06em;
		margin-top: 1em;
	}
	
	section.technology div.text_block ul{
		width: 72.4%;
		margin-top: 12.5vw;
		margin-top: 12.5cqw;
	}
	
	div.other_section section ul{
		width: 72.4%;
		position: relative;
		z-index: 5;
        margin-top: -2.6vw;
        margin-top: -2.6cqw;
	}
	
	section.technology div.text_block ul li,
	div.other_section section ul li{
		width: 100%;
		height: 12.9vw;
		height: 12.9cqw;
		background: url("../images/common/btn_blue.svg") no-repeat;
		background-size: cover;
		border-radius: 1.66vw;
		overflow: hidden;
	}
	
	section.technology div.text_block ul li + li,
	div.other_section section ul li + li{
		margin-top: 4.58vw;
	}
	
	section.technology div.text_block ul li a,
	div.other_section section ul li a{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.06em;
		color: #333;
		padding: 0 1.5em;
		position: relative;
	}
	
	section.technology div.text_block ul li a::after,
	div.other_section section ul li a::after{
		content: "";
		width: 2vw;
		width: 2cqw;
		height: 1.98vw;
		height: 1.98cqw;
		display: block;
		background: url("../images/common/btn_arrow_gray_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 1vw);
		top: calc(50% - 1cqw);
		right: 8%;
		z-index: 3;
	}
	
	section#tafflat {
		background: url("../images/top/section01bg_sp.jpg") no-repeat;
	}
	section#air_blast {
		background: url("../images/top/section02bg_sp.jpg") no-repeat;
	}
	section#wet_blast {
		background: url("../images/top/section03bg_sp.jpg") no-repeat;
	}
	section#wpc {
		background: url("../images/top/section04bg_sp.jpg") no-repeat;
	}
	section#mos2_shot {
		background: url("../images/top/section05bg_sp.jpg") no-repeat;
	}
	section#shot_peening {
		background: url("../images/top/section06bg_sp.jpg") no-repeat;
	}
	section#mirror_finishing {
		background: url("../images/top/section07bg_sp.jpg") no-repeat;
	}
	section#shield_blast {
		background: url("../images/top/section08bg_sp.jpg") no-repeat;
		border-bottom: none;
	}
	
	section#tafflat figure.logo {
		width: 37vw;
		width: 37cqw;
		line-height: 0;
		position: absolute;
		top: 3.5vw;
		top: 3.5cqw;
		right: 5%;
		z-index: 5;
	}
	
	section#shield_blast figure.logo {
		width: 26.5vw;
		width: 26.5cqw;
		line-height: 0;
		position: absolute;
		top: 3.5vw;
		top: 3.5cqw;
		left: 5%;
		z-index: 5;
	}
	
	div.other_section {
		width: 100%;
		background: url("../images/common/bg_on_grid1.png") repeat #333;
		background-size: 3.75vw;
		background-size: 3.75cqw;
		padding: 10vw 0 21vw;
		padding: 10cqw 0 21cqw;
	}
	
	div.other_section div.fl_block {
		width: 90%;
		margin: 0 auto;
	}
	
	div.other_section div.fl_block section{
		width: 100%;
	}
	
	div.other_section div.fl_block section + section{
		margin-top: 18vw;
	}
	
	div.other_section div.fl_block section h2{
		font-family: "ADAMCGPRO", sans-serif;
		font-size: calc(9.6rem * 0.375);
		font-size: clamp(calc((9.6rem * 0.375)), 10vw, 9.6rem);
		font-weight: 400;
		line-height: 1.14;
		letter-spacing: 0.06em;
		color: #2a71b7;
		margin-bottom: 0.5em;
	}
	
	div.other_section div.fl_block section small{
		display: block;
		font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 50%;
		font-weight: 700;
		color: #FFF;
		margin-top: 0;
	}
	
	div.other_section div.fl_block section div.photo{
		line-height: 0;
		position: relative;
		z-index: 3;
	}
	
	div.other_section div.fl_block section div.btn{
		width: 62.5%;
		height: 12.9vw;
		height: 12.9cqw;
		background: url("../images/common/btn_blue.svg") no-repeat;
		background-size: cover;
		border-radius: 1.66vw;
		overflow: hidden;
		position: relative;
		z-index: 5;
		margin-top: -2.6vw;
		margin-top: -2.6cqw;
	}
	
	div.other_section div.fl_block section div.btn a{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.06em;
		color: #333;
		padding: 0 1.5em;
		position: relative;
	}
	
	div.other_section div.fl_block section div.btn a::after{
		content: "";
		width: 2vw;
		width: 2cqw;
		height: 1.98vw;
		height: 1.98cqw;
		display: block;
		background: url("../images/common/btn_arrow_gray_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 1vw);
		top: calc(50% - 1cqw);
		right: 8%;
		z-index: 3;
	}
	
	div.pop_block {
		display: none;
	}
	
	.fancybox-slide--html .fancybox-close-small {
        color: #FFF;
        padding: 5px;
        right: 2.5%;
        top: 1.5%;
		border: 2px solid #FFF;
		border-radius: 100%;
    }
	
	.fancybox-content {
        background: none;
        display: inline-block;
        margin: 0;
		width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 15vw 10%;
        position: relative;
        text-align: left;
        vertical-align: middle;
    }
	
	ul.video_list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
	}
	
	ul.video_list li{
		width: 80%;
	}
	
	ul.video_list li + li{
		margin-top: 3em;
	}
	
	ul.video_list li a{
		display: block;
	}
	
	ul.video_list li a div.thum{
		display: block;
		line-height: 0;
		position: relative;
		z-index: 1;
	}
	
	ul.video_list li a div.thum::after{
		content: "";
		width: 10vw;
		width: 10cqw;
		height: 10vw;
		height: 10cqw;
		display: block;
		background: url("../images/common/btn_play.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 5vw);
		top: calc(50% - 5cqw);
		left: calc(50% - 5vw);
		left: calc(50% - 5cqw);
		z-index: 3;
	}
	
	ul.video_list li a h6{
		width: 100%;
		height: 35.7vw;
		height: 35.7cqw;
		max-height: 46px;
		background: url("../images/common/btn_blue_wide.svg") no-repeat;
		background-size: cover;
		border-radius: 6px;
		overflow: hidden;
		position: relative;
		z-index: 5;
		margin-top: 1.5em;
	}
	
	ul.video_list li a h6 span{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: calc(3.2rem * 0.375);
		font-size: clamp(calc((3.2rem * 0.375)), 3.33vw, 3.2rem);
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.06em;
		color: #333;
		padding: 0 1.5em;
		position: relative;
	}
	
	ul.video_list li a h6 span::after{
		content: "";
		width: 2vw;
		width: 2cqw;
		height: 1.98vw;
		height: 1.98cqw;
		display: block;
		background: url("../images/common/btn_arrow_gray_x.svg") no-repeat;
		background: contain;
		position: absolute;
		top: calc(50% - 1vw);
		top: calc(50% - 1cqw);
		right: 8%;
		z-index: 3;
	}
	
}